
.under-construction-wrapper {
  min-height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.construction-image {
  width: 80%;
  margin: 0 auto 20px;
  display: block;
}

